footer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
    font-weight: 300;

    small {
        display: block;
        font-size: 0.75rem;
        text-align: center;
    }
}
